<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 mx-auto mt-5">
    <% @characters.each do |character| %>
      <div class="col">
        <div class="card" style="width: 300px; height: 430px;">
          <div class="card-img-top">
            <% if character.photo.attached? %>
              <%= cl_image_tag character.photo.key, height: 200, width: 298, crop: :fill %>
            <% elsif character.url_image != nil %>
            <%= image_tag character.url_image, height: 200, width: 298 %>
            <% else %>
            <%= image_tag "image.png", height: 200, width: 298 %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= character.name %></h5>
            <p class="card-text"><%= character.description %></p>
            <%= link_to "See more", character, class: "btn btn-custom"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
