<div class="container">
  <div class="row-container">
    <% @characters.each do |character| %>
    <%= link_to character_path(character), class: 'text-decoration-none' do %>
        <div class="card-characters">
        <div class="card-border"></div>
          <div class="card-img-top">
            <% if character.photo.attached? %>
              <%= cl_image_tag character.photo.key, height: 250, width: 350, crop: :fill %>
            <% elsif character.url_image != nil %>
              <%= image_tag character.url_image, height: 250, width: 350 %>
            <% else %>
              <%= image_tag "image.png", height: 250, width: 350 %>
            <% end %>
          </div>
          <div class="card-body">
            <div class="title-price">
              <h5 class="card-title"><%= character.name %></h5>
              <p class="card-price">$ <%= character.price %></p>
            </div>
            <p class="card-text"><%= character.description %></p>
          </div>
        </div>
     <% end %>
    <% end %>
  </div>
</div>


<%#= link_to "See more", character, class: "btn btn-custom"%>
